.box {
    width: 100%;
    height: 80px;
    background: #ccc;
    overflow: hidden;
  }
  
  .box img {
    width: 100%;
    height: auto;
  }
  
  .txt-info {
    font-size: small;
  }
  
  @supports (object-fit: cover) {
    .box img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .whatsapp-ico {
    color: rgb(13, 102, 13);
    font-size: 34px;
    margin-right: 15px;
}

.facebook-icon {
    color: rgb(0, 81, 255);
    font-size: 34px;
    margin-right: 10px;
}